<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <h1>El Principe Maquiavelo</h1>
    <div class="img-with-text">
        <img src="/images/download.jpg" width="200" height="200"/>
        <p>(Florencia, 1469-1527) Escritor y estadista florentino. Nacido en el seno de una familia noble empobrecida, Nicolás Maquiavelo vivió en la Florencia de los Médicis, en tiempos de Lorenzo el Magnífico y Pedro II de Médicis. Tras la caída de Girolamo Savonarola (1498) fue nombrado secretario de la segunda cancillería encargada de los Asuntos Exteriores y de la Guerra de la ciudad, cargo que ocupó hasta 1512 y que le llevó a realizar importantes misiones diplomáticas ante el rey de Francia, el emperador Maximiliano I de Habsburgo y César Borgia, entre otros.</p>
    </div>
</body>
</html>