<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheet/style2.css">


</head>
<body>
    <div class="gallery">
        <a target="_blank" href="/images/nico1.png">
        <img src="/images/nico1.png" width="600" height="400">
        </a>
    </div>
    
    <div class="gallery">
        <a target="_blank" href="/images/nico2.jpg">
        <img src="/images/nico2.jpg" width="600" height="400">
        </a>
    </div>
    
    <div class="gallery">
        <a target="_blank" href="/images/nico3.jpg">
        <img src="/images/nico3.jpg" width="600" height="400">
        </a>
    </div>
    
    <div class="gallery">
        <a target="_blank" href="/images/nico4.jpg">
        <img src="/images/nico4.jpg"  width="600" height="400">
        </a>
    </div>
</body>
</html>