<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <h1>Trabajos</h1>
    <div class="img-with-text">
        <img src="/images/maqui2.jpg" width="200" height="200"/>
        <p>En El príncipe, obra inspirada en César Borgia (destacada figura de la casa de los Borgia), Maquiavelo describe distintos modelos de Estado según cuál sea su origen (la fuerza, la perversión, el azar) y deduce las políticas más adecuadas para su pervivencia. Desde esa perspectiva se analiza el perfil psicológico que debe tener el príncipe y se dilucida cuáles son las virtudes humanas que deben primar en su tarea de gobierno. Maquiavelo concluye que el príncipe debe aparentar poseer ciertas cualidades, ser capaz de fingir y disimular bien y subordinar todos los valores morales a la razón de Estado, encarnada en su persona.
            El pensamiento histórico de Nicolás Maquiavelo quedó plasmado fundamentalmente en dos obras: La vida de Castruccio Castracani de Luca (1520) e Historia de Florencia (Istorie fiorentine, 1520-1525). Entre sus trabajos literarios se cuentan variadas composiciones líricas, como Las decenales (Decennali, 1506-1509) o El asno de oro (L'asino d'oro, 1517), pero sobre todas ellas destaca su comedia La mandrágora (Mandragola, 1520), sátira mordaz de las costumbres florentinas de la época. Clizia (1525) es una comedia en cinco actos, de forma aparentemente clásica, que se sitúa en la realidad contemporánea que Maquiavelo tanto deseaba criticar.</p>
    </div>
</body>
</html>